name: "SMZDM Check-in Bot"

on:
  workflow_dispatch:

  # Uncomment below to schedule your job
schedule:
  - cron: "0 0 20 * * ?"

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Working
        env:
          SMZDM_COOKIE: device_id=30267776891611536843861699af77b316056415e312cde11fdc7739c0; _ga=GA1.2.437733045.1611536850; homepage_sug=c; r_sort_type=score; userId=user:9094613885|9094613885; __ckguid=3eE3WI2VPaU7IrGQfQfEXJ4; __jsluid_s=ae00c914ea9f01f0339dd53b991a6ce3; smzdm_user_source=BECD62AF9E4A19DAF7A6FB1E4C3DB1B3; __jsluid_h=dbf461685b795362c23d2bfbe1a71fd5; shequ_pc_sug=b; footer_floating_layer=0; ss_ab=ss42; ssmx_ab=mxss7; smzdm_user_view=021DD62424094EAC58C415EF9AA2D5CC; ad_date=5; ad_json_feed=%7B%7D; Hm_lvt_9b7ac3d38f30fe89ff0b8a0546904e58=1672569970,1672666394,1672751886,1672901236; s_his=%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0%E7%AD%BE%E5%88%B0%2CLEDE; sensorsdata2015jssdkcross=%7B%22distinct_id%22%3A%229094613885%22%2C%22first_id%22%3A%221773714d9b36e4-06bd05789cec3e-50391c46-921600-1773714d9b4c7e%22%2C%22props%22%3A%7B%22%24latest_traffic_source_type%22%3A%22%E7%9B%B4%E6%8E%A5%E6%B5%81%E9%87%8F%22%2C%22%24latest_search_keyword%22%3A%22%E6%9C%AA%E5%8F%96%E5%88%B0%E5%80%BC_%E7%9B%B4%E6%8E%A5%E6%89%93%E5%BC%80%22%2C%22%24latest_referrer%22%3A%22%22%2C%22%24latest_landing_page%22%3A%22https%3A%2F%2Fwww.smzdm.com%2F%22%7D%2C%22%24device_id%22%3A%221773714d9b36e4-06bd05789cec3e-50391c46-921600-1773714d9b4c7e%22%7D; _zdmA.uid=ZDMA.PGyC9NIwA.1672905495.2419200; _zdmA.vid=*; bannerCounter=%5B%7B%22number%22%3A1%2C%22surplus%22%3A1%7D%2C%7B%22number%22%3A0%2C%22surplus%22%3A2%7D%2C%7B%22number%22%3A1%2C%22surplus%22%3A1%7D%2C%7B%22number%22%3A0%2C%22surplus%22%3A1%7D%2C%7B%22number%22%3A1%2C%22surplus%22%3A1%7D%2C%7B%22number%22%3A0%2C%22surplus%22%3A1%7D%5D; Hm_lpvt_9b7ac3d38f30fe89ff0b8a0546904e58=1672905496; _zdmA.time=1672905500031.0.https%3A%2F%2Fwww.smzdm.com%2F
          PUSH_PLUS_TOKEN: ${{ secrets.PUSH_PLUS_TOKEN }}
          SC_KEY: ${{ secrets.SC_KEY }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
        run: python main.py
